<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}"
</head>
<body>
<h1>La tentative d'achat a échouée!</h1>
{%if message%}
Raison : {{message}}
{%else%}
Raison inconnue.
{%endif%}
<a href="/">Retour à la page d'accueil</a>
</body>
</html>