<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">

</head>
<body>
{%if accepte == True%}
<h1>L'ajustement de {{'${:,.2f}'.format(montant)}} a été autorisé, votre nouvelle balance est de {{'${:,.2f}'.format(balance)}}</h1>
{%else%}
<h1>La tentative d'ajustement de la balance a échoué!</h1>
{%endif%}
</body>
</html>