<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Catégories</h1>
{% for cat in categories %}
<a href="/categories/{{cat}}">{{cat}}<br></a>
{% endfor %}
</body>
</html>