<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compte</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
{% if utilisateur %}
<h1>Profil de {{utilisateur['username']}}</h1>
<p>
    Profil : {{utilisateur['Profil']}}<br>
    Nom : {{utilisateur['nom']}}<br>
    {%if utilisateur['Profil'] == 'Acheteur'%}
    Date de naissance : {{utilisateur['naissance']}}<br>
    {%endif%}
    Courriel : {{utilisateur['courriel']}}<br>
    Téléphone : {{utilisateur['telephone']}} <br>
    {%if utilisateur['Profil'] == 'Vendeur'%}
    Balance : {{'${:,.2f}'.format(utilisateur['balance'])}}<br>
    {%endif%}
</p>
{%if utilisateur['Profil'] == 'Vendeur'%}
<h3>Ajouter/retirer un montant</h3>
<form action="balance" method="post">
    Montant : <input type="number" name="prix" step="0.01" size="4">
    <input type="submit" name="confirme" value="Confirmer">
</form>
{%endif%}
{% else %}
<h1>Une erreur s'est produite, aucun compte n'est détecté!</h1>
{% endif %}
<a href="/">Retour à la page d'accueil</a>
</body>
</html>