<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compte créé</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Votre Compte a été créé avec succès!</h1>
<h2>Bienvenue, {{utilisateur['UserName']}}. Vous êtes un {{utilisateur['Profil'].lower()}}</h2>
<a href="/">Retour à la page d'accueil</a>
</body>
</html>