<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
{%if objet%}
{%if disponible%}
<h3>Achat de {{username}}</h3>
Nom:{{objet['nom']}} <br>
Prix: {{'${:,.2f}'.format(objet['prix'])}} <br>
Cet achat est final et irréversible!<br>
<form action="/complet/{{objet['id']}}" method="post">
    Numéro de carte de crédit: <input type="text" name="numerocredit"><br>
    Type de carte:<br>
    <input type="radio" name="type" value="visa">Visa <br>
    <input type="radio" name="type" value="mastercard">Mastercard <br>
    Date d'expiration <input type="text" name="mois">/<input type="text" name="annee"><br>
    Numéro de sécurité: <input type="text" name="securite"><br>
<input type="submit" name="confirmation" value="Confirmer">
</form>
{%else%}
<h1>Désolé, l'objet que vous tentez d'acheter est actuellement indisponible.</h1>
{%endif%}
{%else%}
<h1>Objet introuvable!</h1>
{%endif%}
</body>
</html>