<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Votre achat a été effectué!</h1>
<a href="/">Retour à la page d'accueil</a>
</body>
</html>