<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
{%if not utilisateur%}
<p>Bonjour, veuillez vous identifier</p>
<form action="login" method="post">
    <p>Votre nom d'utilisateur: <input type="text" name="username" maxlength="15"><br>
    Votre mot de passe: <input type="password" name="motpasse"></p><br>
    <input type="submit" name="identification"value="Soumettre">
</form>
{%if message%}
<div>{{message}}</div>
{%endif%}
{%else%}
<h1>Vous êtes présentement connectés, {{utilisateur['UserName']}}, en tant que {{utilisateur['Profil'].lower()}}</h1>
<p>
<a href="logout">Se déconnecter</a>
</p>
<p>
    <a href="compte">Page profil</a>
</p>
{%endif%}
<a href="/">Retour à la page d'accueil</a>
</body>
</html>