<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{categorie}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Articles de la catégorie {{categorie}}</h1>
</body>
{% if objets is not defined %}
<h4>Il n'y a aucun produit dans cette catégorie.</h4>
{% else %}
<table>
    <tr>
    <th>Nom</th>
    <th>Quantité</th>
    <th>Prix</th>
        <th>Vendeur</th>
    </tr>
{% for objet in objets %}

<tr>
    <td><a href="/objet/{{objet['Id']}}">{{objet['Nom']}}</a></td>
    {%if objet['Quantite'] != 0%}
    <td>{{objet['Quantite']}}</td>
    {%else%}
    <td>N/D</td>
    {%endif%}
    <td>{{'${:,.2f}'.format(objet['Prix'])}}</td>
    <td>{{objet['Vendeur']}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

</html>