<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%if objet%}
    <title>{{objet['nom']}}</title>
    {%else%}
    <title>Erreur</title>
    {%endif%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
{%if objet%}
<h3>{{objet['nom']}}</h3>
{%if objet['quantite'] == 0%}
Quantité: N/D<br>
{%else%}
Quantité: {{objet['quantite']}}<br>
{%endif%}
Prix: {{'${:,.2f}'.format(objet['prix'])}}<br>
Description:
<p>
    {{objet['description']}}
</p>
{%if objet['quantite'] != 0 and user['Profil'] == 'Acheteur'%}
<a href="/confirmeachat/{{objet['id']}}" >Acheter</a>
{%endif%}
{%else%}
<h1>L'objet que vous recherchez n'existe pas.</h1>
{%endif%}
</body>
</html>