<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Principale</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Shopping Express</h1>
<h2 id="soustitre">Pour vente et achat d'articles</h2>
<a href="categories">Magasiner</a>
{% if not user %}
<p>
    <a href="login">Se connecter</a>
<p/>
<p>
    <a href="signup">Créer un compte</a>
</p>
{% else %}
<p>
    <a href="compte">Page profil</a>
</p>
{%if user['Profil'] == 'Vendeur'%}
<p>
    <a href="/vente">Vendre un produit</a>
</p>
{%endif%}
<p>
    <a href="logout">Se déconnecter</a>
</p>
{% endif %}
</body>
</html>