<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Création d'un compte</h1>
<form action="signup" method="post">
    <p>* Nom : <input type="text" name="nom"></p>
    <p>* Nom d'utilisateur (Lettres et chiffres, espace et symboles - et _ seulement) :
        <input type="text" name="username" maxlength="15"></p>
    <p>* Choisir le type de profil: <br>
        <input type="radio" name="type" value="Acheteur">Acheteur<br>
        <input type="radio" name="type" value="Vendeur">Vendeur<br>
    </p>
    <p>* Mot de passe : <input type="password" name="motpasse"></p>
    <p>* Confirmez le mot de passe : <input type="password" name="motpasse2"></p>
    <p>* Date de naissance : <input type="Date" name="date"></p>
    <p>Numéro de téléphone : <input type="text" name="telephone" maxlength="12"></p>
    <p>* Adresse courriel : <input type="email" name="courriel"></p>
    <p>
        * Adresse : <br>
        Numéro civique : <input type="number" name="numero_civique" min="0"> <br>
        Nom de rue : <input type="text" name="rue" maxlength="50"> <br>
        Code postal : <input type="text" name="codepostal" maxlength="7"> <br>
        Ville : <input type="text" name="ville" max="60"> <br>
        Province/état : <input type="text" name="province" maxlength="20"> <br>
    </p>
    <input type="submit" name="creation" value="Confirmer">
</form>
<p style="color:red">* Champs obligatoires</p>
{% if message %}
<p>{{message}}</p>
{% endif %}
<p>
<a href="/">Retour</a>
<p/>
</body>
</html>