<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/apparance.css') }}">
</head>
<body>
<h1>Création d'un produit à vendre</h1>
{%if message%}
<p>{{message}}</p>
{%endif%}
<form action="vente" method="post">
    <p>Nom (20 charactères max):<input type="text" name="nom"></p>
    <p>Categorie :
        <select name="categorie">
        {%for categorie in categories%}
            <option value="{{categorie}}">{{categorie}}</option>
            {%endfor%}
    </select></p>
    <p>Prix :<input type="number" name="prix" step="0.01" min="0" size="4"></p>
    <p>Quantité :<input type="number" name="quantite"></p>
    <p>Description :<br><textarea name="description" rows="5" cols="40"></textarea></p>
    <input type="submit" name="vente" value="Confirmer">
</form>
</body>
</html>