body{
background-color: #B0C4DE;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

h1{
text-align: center;
}

#soustitre{
text-align: center;
}

a:link {
color: blue
}

a:visited {
color: blue
}

a:hover {
color: red
}

a:link {
color: black
}